* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
body {
  min-height: 100vh;
  background: #fafafa;
  background-image: url("fondo.png");
}

.buttons {
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
  }

  .font-weight-bold-mb-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }